body {
    margin: 0;
    padding: 0;
}

.header {
    top: 0;
    overflow: hidden;
    background-color: #1f2937;
    color: #fff;
}
.header a {
    float: left;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
}
nav {
    float: right
}
.center {
    margin: auto;
    width: 60%;
    padding: 20px;
}
/* Second section */
.left {
    float: left;
    width: 35%;   
}
.right {
    float: right;
    width: 60%;
}
.right img {
    width: auto;
    height: 250px;
    float:right;
}

