html {
  font-family: 'Poppins', sans-serif;
}
body {
  margin: 0;
  padding: 0;
}

.header {
  top: 0;
  overflow: hidden;
  background-color: #1f2937;
  clear: both;
}
.logo {
  float: left;
  text-align: center;
  color: #f9faf8;
  text-decoration: none;
  font-size: 24px;
}
.logo img {
  vertical-align: middle;
}
.center .logo:hover {
  color: #dff7c8;
}
nav {
  float: right;
  padding: 20px 0;
}
nav a {
  float: left;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}
nav a:hover {
  color: #b7c3dc;
}
.center {
  margin: auto;
  overflow: hidden;
  width: 60%;
  padding: 5px;
}
/* Second section */
.section-2 {
  overflow: hidden;
  background-color: #1f2937;
  padding: 60px 0px;
}
.left {
  float: left;
  width: 35%;
}
.left h1 {
  font-size: 48px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: #f9faf8;
}

.left p {
  font-size: 18px;
  font-weight: lighter;
  color: #e5e7eb;
}
.left .btn {
  color: #f9faf8;
  background-color: #3882f6;
  padding: 12px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
.left .btn:hover {
  background-color: #649cf5;
}
.right {
  float: right;
  width: 60%;
}
.right img {
  width: auto;
  height: 250px;
  float: right;
}
/* Section Information */
.section-info {
  text-align: center;
  margin: auto;
  width: 60%;
  overflow: hidden;
  padding-bottom: 60px;
}
.section-info h1 {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}
.section-info .img-container {
  border: 3px solid #3882f6;
  border-radius: 10px;
  float: left;
  width: 20.33%;
  margin: 19px;
  clear: right;
  transition: transform 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.img-container img {
  border-radius: 8px 8px 0 0;
  width: 100%;
}
.section-info .img-container:hover {
  transform: scale(0.9);
}
/* Quaote section */
.section-quote {
  clear: both;
  text-align: left;
  font-size: 36px;
  font-weight: lighter;
  background-color: #e5e7eb;
  color: #1f2937;
}

/* jbtron 'call to action' */
.jbtron {
  clear: both;
  background-color: #3882f6;
  border-radius: 10px;
  padding: 10px;
  margin: 20px 0 20px 0;
  color: #f9faf8;
  overflow: hidden;
  padding: 50px;
}

.jbtron button {
  float: right;
  color: #f9faf8;
  background-color: #3882f6;
  padding: 12px 30px;
  border: 2px solid #f9faf8;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
}
.jbtron div {
  float: left;
}

/* Footer */
footer {
  height: 50px;
  text-align: center;
  background-color: #1f2937;
  color: #f9faf8;
  font-size: 12px;
  padding: 20px;
}
